<%- include('partials/header') %>

    <main>
        <div class="intro">
            <h2>Activités</h2>
            <p>Découvrez toutes les activités à ne pas manquer à Lyon et dans ses environs ! Que vous soyez amateur de
                culture, passionné de sport ou en quête d'aventures insolites, notre rubrique "Activités" est votre
                guide incontournable pour profiter pleinement de la ville des Lumières.</p>
        </div>
        <ul class="filter">
            <li class="test">Expositions</li>
            <li>Concerts</li>
            <li>Théâtre</li>
            <li>Festivals</li>
            <li>Marchés</li>
            <li>Ateliers</li>
        </ul>
        <div class="container">
            <% for( const article of articles ) { %>

                <article class="article">
                    <a href="/article/<%=article.id%>"><img class="article__img" src="<%= article.image %>" alt="" loading="lazy"></a>
                    <div class="article__info">
                        <span><%=article.Tag.label%></span>
                        <div class="article__info--desc">
                            
                                <h3>
                                    <a href="/article/<%=article.id%>">
                                    <%= article.title %>
                                    </a>
                                </h3>
                            <p class="text">
                                <%= article.description %>
                            </p>
                        </div>
                    </div>
                </article>
                <% } %>
        </div>


    </main>


    <%- include('partials/footer') %>