<%- include('partials/header') %>

    <main>
        <div class="intro">
            <h2>Activités</h2>
            <p>Découvrez toutes les activités à ne pas manquer à Lyon et dans ses environs ! Que vous soyez amateur de
                culture, passionné de sport ou en quête d'aventures insolites, notre rubrique "Activités" est votre
                guide incontournable pour profiter pleinement de la ville des Lumières.</p>
        </div>
        <ul class="filter">
            <li class="test">Expositions</li>
            <li>Concerts</li>
            <li>Théatre</li>
            <li>Festivals</li>
            <li>Marchés</li>
            <li>Ateliers</li>
        </ul>
        <div class="container">
            <% for( const article of articles ) { %>

                <article class="article">
                    <img class="article__img" src="<%= article.image %>" alt="">
                    <div class="article__info">
                        <span>
                            <%=article.Tag.label%>
                        </span>
                        <div class="article__info--desc">
                            <h3>
                                <%= article.title %>
                            </h3>
                            <p class="text">
                                <%= article.description %>
                            </p>
                        </div>
                    </div>
                </article>

                <% } %>
                    <article class="article">
                        <img class="article__img" src="/img/concert.jpg" alt="">
                        <div class="article__info">
                            <span>Concerts</span>
                            <div class="article__info--desc">
                                <h3>Nom activité</h3>
                                <p>Description d'activité courte de 2 lignes</p>
                            </div>
                        </div>
                    </article>
                    <article class="article">
                        <img class="article__img" src="/img/theater.jpg" alt="">
                        <div class="article__info">
                            <span>Théatre</span>
                            <div class="article__info--desc">
                                <h3>Nom activité</h3>
                                <p>Description d'activité courte de 2 lignes</p>
                            </div>
                        </div>
                    </article>
                    <article class="article">
                        <img class="article__img" src="/img/market.jpg" alt="">
                        <div class="article__info">
                            <span>Marchés</span>
                            <div class="article__info--desc">
                                <h3>Nom activité</h3>
                                <p>Description d'activité courte de 2 lignes</p>
                            </div>
                        </div>
                    </article>
                    <article class="article">
                        <img class="article__img" src="/img/ateliers.jpg" alt="">
                        <div class="article__info">
                            <span>Ateliers</span>
                            <div class="article__info--desc">
                                <h3>Nom activité</h3>
                                <p>Description d'activité courte de 2 lignes</p>
                            </div>
                        </div>
                    </article>

        </div>


    </main>


    <%- include('partials/footer') %>