<%- include('partials/header') %>


    <main>
        <div class="intro">
            <h2>Nos bonnes adresses</h2>
            <p>Découvrez les meilleures adresses de Lyon pour enrichir vos sorties et séjours. Que vous cherchiez une
                expérience culinaire, une soirée animée, un hébergement confortable ou un moment de détente, nos
                recommandations soigneusement sélectionnées répondront à toutes vos envies.</p>
        </div>
        <ul class="filter">
            <li>Restauration</li>
            <li>Bars/Clubs</li>
            <li>Hébergement</li>
            <li>Bien-être/Santé</li>
        </ul>
        <div class="container">
            <% for( const article of articles ) { %>
                <article class="article">
                    <a href="/article/<%=article.id%>"><img class="article__img" src="<%= article.image %>" alt=""></a>
                    <div class="article__info">
                        <span><%=article.Tag.label%></span>
                        <div class="article__info--desc">
                                <h3>
                                    <a href="/article/<%=article.id%>">
                                    <%= article.title %>
                                    </a>
                                </h3>
                            <p class="text">
                                <%= article.description %>
                            </p>
                        </div>
                    </div>
                </article>
            <% } %>
        </div>
    </main>

    <%- include('partials/footer') %>