<%- include('partials/header') %>

    <main>
        <div class="intro">
            <h2>Escapade</h2>
            <p>Découvrez des destinations de rêve et des trésors cachés.
                Trouvez des idées, des conseils et des itinérairespour vos prochaines aventures.</p>
        </div>
        <ul class="filter">
            <div class="dropdown">
                <li>Durée de la randonnée <i class="fa-solid fa-caret-down"></i></li>
                <ul class="dropdown-content">
                    <li>1h</li>
                    <li>2h</li>
                    <li>3h</li>
                </ul>
            </div>
            <div class="dropdown">
                <li>Difficulté <i class="fa-solid fa-caret-down"></i></li>
                <ul class="dropdown-content minus">
                    <li>Facile</li>
                    <li>Moyen</li>
                    <li>Difficile</li>
                </ul>
            </div>
            <div class="dropdown">
                <li>Distance de Lyon<i class="fa-solid fa-caret-down"></i></li>
                <ul class="dropdown-content">
                    <li><span>5</span>km</li>
                    <li><span>10</span>km</li>
                    <li><span>15</span>km</li>
                </ul>
            </div>
        </ul>

        <div class="container">
            <% for( let escapade of escapades ) { %>
                <article class="article" data-difficulty='<%=escapade.difficulty%>' data-duration="<%=escapade.duration%>h" data-distance="<%=escapade.distance.slice(0,2)%>">
                    <div class="article__img">
                        <a href="/escapade/<%=escapade.id%>"><img class="article__img--img" src="<%=escapade.image%>" alt=""></a>
                        <div class="article__img--filterOne"><%=escapade.duration%>h</div>
                        <div class="article__img--filterTwo"><span><%=escapade.distance.slice(0,2)%></span>km</div>
                        <div class="article__img--filterThree"><%=escapade.difficulty%></div>
                    </div>
                    <div class="article__info">
                        <h3><a href="/escapade/<%=escapade.id%>"><%=escapade.title%></a></h3>
                        <p><%=escapade.description%></p>
                    </div>
                </article>
            <% } %>
        </div>
    </main>


    <%- include('partials/footer') %>